<!doctype html>
<html lang='en'>

<head>
</head>

<body>

<form method ="post" action="/display" >
  <br>
  <br>
  <label>Select a cost value to query by </label>
  <select name="selected_cost">
    <option value= "<%= @item1name %>" > <%= @item1cost %></option>
    <option value= "<%= @item2name %>" > <%= @item2cost %></option>
    <option value= "<%= @item3name %>" > <%= @item3cost %></option>
    <option value= "<%= @item4name %>" > <%= @item4cost %></option>
    <option value= "<%= @item5name %>" > <%= @item5cost %></option>
    <option value= "<%= @item6name %>" > <%= @item6cost %></option>
  </select>
  <input type="submit" value="Submit">
</form>

</body>
</html>
